<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="pad">
        <h2 class="txtC">文章标题</h2>
        <hr>
        <p>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
        </p>
        <hr>
        <h2 class="inb">评论</h2>
        <p class="flr pad">
            <a class="glyphicon glyphicon-edit" style="text-decoration: none">
            </a>
        </p>
        <div id="commentCon" class="pad">
            <div class="comment">
                <p>
                    <img src="" width="24" height="24">
                    <a>Mingtao Fu</a>:
                </p>
                <blockquote class="commentContent">
                    dsaddsadsadasdasdsadas
                    das

                </blockquote>
                <section class="responseCon padx">
                    <p class="resp">
                        <a>xxx</a>&nbsp;回复&nbsp;<a>Mingtao Fu</a>: blablablablabla
                    </p>
                    <p class="resp">
                        <a>xxx</a>&nbsp;回复&nbsp;<a>Mingtao Fu</a>: blablablablabla
                    </p>
                </section>
            </div>
            <hr>
            <div class="comment">
                <p>
                    <img src="" width="24" height="24">
                    <a>Mingtao Fu</a>:
                </p>
                <blockquote class="commentContent">
                    dsaddsadsadasdasdsadas
                    das

                </blockquote>
                <section class="responseCon padx">
                    <p class="resp">
                        <a>xxx</a>&nbsp;回复&nbsp;<a>Mingtao Fu</a>: blablablablabla
                    </p>
                </section>
            </div>
        </div>
    </div>
</body>
</html>