<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="bloTitle padx">
        <h2 class="bloTitle">博文</h2>
    </div>

    <div id="liCon" class="rela padx">


        <!-- article list -->
        <div class="article art{{$index%3+1}} padx" ng-repeat="article in articleList">
            <a href="#/article?articleId={{article.id}}"><h3 class="arTitle">{{article.title}}</h3></a>
            <hr>
            <p class="preArticle inden2" ng-bind-html="article.content | delTag">
            </p>
            <hr>
            <p>
                <span class="glyphicon glyphicon-comment"></span> 评论({{article.commentNum}})
                &nbsp;
                <span class="glyphicon glyphicon-heart"></span> 赞(38)
                &nbsp;
                <span class="glyphicon glyphicon-eye-open"></span> 阅读(123)
            </p>
        </div>

    </div>
</body>
</html>