<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="pad" id="mainArticle">
        <h2 class="txtC">文章标题</h2>
        <hr>
        <p>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
            blablablablablablablablabla<br>
        </p>
        <hr>
        <h2 class="inb">评论</h2>
        <p class="flr pad">
            <a class="glyphicon glyphicon-edit" title="评论" style="text-decoration: none">
            </a>
        </p>
        <div id="commentCon" class="pad">
            <div class="comment" ng-repeat="comment in comments">
                <p>
                    <img src="" width="24" height="24">
                    <a>{{comment.user}}</a>:
                    &nbsp;
                    &nbsp;
                    <a class="glyphicon glyphicon-edit" title="回复" style="text-decoration: none"></a>
                </p>
                <blockquote class="commentContent">
                    {{comment.content}}
                </blockquote>
                <section class="responseCon padx">
                    <p class="resp" title="回复" ng-repeat="resp in comment.resps">
                        <a>{{resp.fromUser}}</a>&nbsp;回复&nbsp;<a>{{resp.toUser}}</a>: {{resp.content}}
                    </p>
                    <div class="pad">
                        <label class="fll">回复 Mingtao Fu</label>
                        <input class="form-control">
                    </div>
                </section>
                <hr>
            </div>

        </div>
    </div>
</body>
</html>
