<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
    <div class="pad txtC">
        <div class="txtC">
            <h2>个人中心</h2>
        </div>
        <hr>
        <div id="infoCon">
            <div>
                <img ng-src="{{rootdata.info.logoUrl}}" width="200" height="200">
            </div>
            <form name="formUp">
                上传头像
                <div class="button btn btn-success" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     accept="image/*" ngf-max-size="20MB" ngf-min-height="1"
                     ngf-resize="{width: 100, height: 100}">选择图片</div>
                {{file}}
            </form>
            <br>
            <form class="txtL rela" id="infoForm">
                <div>
                    <label>账号</label>
                    <span class="infoValue">{{rootdata.info.id}}</span>
                </div>
                <div>
                    <label for="modifyInput">用户名</label>
                    <input id="modifyInput" ng-model="rootdata.info.name" class="infoValue form-control {{status.editModel?'':'editModel'}}"
                           ng-disabled="!status.editModel">
                </div>
                <div>
                    <label>注册时间</label>
                    <span class="infoValue">{{rootdata.info.date.replace("T", " ").replace("+08:00", "")}}</span>
                </div>
                <div id="intro">
                    <label for="modifyText">个人简介</label>
                    <textarea class="flr infoValue form-control {{status.editModel?'':'editModel'}}" id="modifyText" ng-disabled="!status.editModel"
                              ng-model="rootdata.info.intro"></textarea>
                </div>
                <button type="button" class="btn btn-default fll bot"
                        ng-click="status.editModel=!status.editModel">{{status.editModel?'关闭':'修改'}}</button>
                <button type="button" class="btn btn-default fll bot" style="left: 70px;" ng-if="status.editModel"
                        ng-click="modifyPersonalInfo()">提交</button>
            </form>
            <hr>
            <div class="txtL">
                <p><a>修改密码>>></a></p>
                <form class="pad" id="modifyForm" name="modifyForm" ng-submit="modifyPwd()">
                    <div>
                        <label for="oldPwd">旧密码</label>
                        <input class="form-control" id="oldPwd" type="password"
                        ng-model="pwdData.oldPwd" name="oldPwd" required>
                    </div>

                    <div>
                        <label for="newPwd">新密码</label>
                        <input class="form-control" id="newPwd" type="password" ng-pattern="/^[A-Za-z0-9_]{6,20}$/"
                        ng-model="pwdData.newPwd" name="newPwd" required>
                    </div>
                    <span ng-if="modifyForm.newPwd.$error.required || modifyForm.newPwd.$error.pattern" class="error">
                                6-20位，可含字母、数字及下划线
                    </span>

                    <div>
                        <label for="rePwd">重复输入</label>
                        <input class="form-control" id="rePwd" type="password" name="rePwd" ng-model="pwdData.rePwd" required>
                    </div>
                    <span ng-if="modifyForm.rePwd.$error.same" class="error">
                        两次输入不一致
                    </span>

                    <br>
                    <input type="submit" class="btn btn-default" style="float: none" ng-disabled="modifyForm.$invalid">
                </form>
            </div>
        </div>
    </div>

</body>
</html>