#loginPanel{
  //display: none;

  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: inline-block;
  width: 300px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  input{
    display: inline-block;
    width: 19em;
  }
  .loginBtn{
    float: right;
  }
}

#personalCenter{
  z-index: 2;
  position: fixed;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 500px;
}

#infoCon{
  display: inline-block;
  width: 280px;

  form{
    &>div{
      height: 34px;
      margin-bottom: 10px;
      label{
        line-height: 34px;
      }
    }

    input{
      float: right;
      background-color: transparent;
    }
  }
  #infoForm{
    height: 250px;

    .infoValue{
      display: inline-block;
      width: 182px;
      float: right;
    }

    &>div{
      height: 34px;
      margin-bottom: 10px;
      label, span{
        line-height: 34px;
      }
      span{
        text-indent: 13px;
      }
    }
  }
  label{
    font-weight: normal;
  }

  #intro *{
    display: inline-block;
    vertical-align: top;
  }
  #modifyText{
    resize: none;
    height: 100px;
  }
}

#modifyForm{
  border-radius: 3px;
  border: 1px solid #ddd;
}


#commentCon{
  .comment{

  }
}
.commentContent{
  font-size: 15px;
}

.responseCon{
  font-size: 14px;
  .resp{
    text-indent: 1em;
    //margin-bottom: 10px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    &:hover{
      background-color: #F5F5F5;
    }
  }
}
#mainArticle{background-color: white;}

#commentArea{
  resize: none;
}
