#loginPanel{
  //display: none;

  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: inline-block;
  width: 300px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  input{
    display: inline-block;
    width: 19em;
  }
  .loginBtn{
    float: right;
  }
}

#personalCenter{
  z-index: 2;
  position: fixed;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 500px;
}

#infoCon{
  display: inline-block;
  width: 280px;

  #infoForm{
    height: 250px;

    .infoValue{
      display: inline-block;
      width: 182px;
      float: right;
    }

    &>div{
      height: 34px;
      margin-bottom: 10px;
      label, span{
        line-height: 34px;
      }
      span{
        text-indent: 13px;
      }
    }
  }
  label{
    font-weight: normal;
  }
  input{
    float: right;
    background-color: transparent;
  }
  #intro *{
    display: inline-block;
    vertical-align: top;
  }
  #modifyText{
    resize: none;
    height: 100px;
  }
}
