<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editor</title>
    <script src="CKEditor/ckeditor.js"></script>
</head>
<body>
<div class="pad">
    <h3 class="txtC">发布文章</h3>
    <form ng-submit="publish()">
        <label for="articleTitle">文章标题</label>
        <input id="articleTitle" class="form-control" ng-model="data.article.title">
        <br>
        <label for="editor">文章内容</label>
        <textarea name="editor" id="editor" rows="10" cols="80">
            sds
        </textarea>
        <script>
            CKEDITOR.replace( 'editor');
        </script>
        <br>
        <p>{{publishStatus}}</p>
        <input type="submit" class="btn btn-default">
    </form>
</div>
</body>
</html>