<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>

    <!-- External libraries, don't modify -->
    <link type="text/css" rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/cssreset-min.css">
    <link type="text/css" rel="stylesheet" href="css/cssbase-min.css">
    <!-- External libraries End -->

    <link type="text/css" rel="stylesheet" href="css/base.css">
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <link type="text/css" rel="stylesheet" href="css/index.css">

    <!-- External libraries, don't modify -->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>
    <script src="js/ng-file-upload-shim.min.js"></script>
    <!-- External libraries End -->
</head>
<body ng-controller="main">
    <div class="container">
        <header id="header" class="boRa5">
            <div id="hero">
                <div class="inb rela" id="blogInfo">
                    <h1 class="rela">{{rootdata.blogInfo.adminInfo.name}}的博客</h1>
                    <p class="rela slogan">一切皆 web</p>
                    <nav>
                        <a href="/#/">主页</a>
                        <a ng-if="!status.isValidated" href="javascript: void 0" ng-click="status.loginPanel=true">登录</a>
                        <a ng-if="status.isValidated" href="/#/me">个人中心</a>
                        <a ng-if="rootdata.info.type=='root' && status.isValidated" href="/#/admin">写文章</a>
                        <a ng-if="status.isValidated" ng-click="logout()" href="javascript: void 0">登出</a>
                    </nav>
                </div>
            </div>
        </header>

        <!-- aside bar -->
        <aside class="boRa5 inb fll test2 padx" id="aside">
            <section>
                <div class="blTitle">
                    <h2>关于博主</h2>
                </div>
                <div class="txtC">
                    <img id="blogAdminHead" src="{{rootdata.blogInfo.adminInfo.logoUrl}}" height="100" width="100">
                </div>
                <p class="inden2">
                    {{rootdata.blogInfo.adminInfo.intro}}
                </p>

            </section>

            <hr>
            <section ng-controller="message">
                <div class="blTitle">
                    <div class="pad">
                        <h2>留言板</h2>
                        <div class="message wrap" ng-repeat="message in messageData">
                            <a>{{message.userId}}</a>:
                            <p class="inden2">{{message.content}}</p>
                            <hr>
                        </div>
                        <form ng-submit="postMessage()">
                            <label for="messageInput">写留言</label>
                        <textarea id="messageInput" class="form-control" ng-model="postMessageContent">

                        </textarea>
                            <input type="submit" class="btn btn-primary" id="messageBtn">
                        </form>
                    </div>

                </div>
            </section>

        </aside>

        <!-- document main block -->
        <section id="main" class="fll boRa5 rela test3">
            <div ng-view></div>
        </section>



        <footer>

        </footer>
    </div>

    <!-- login and register -->
    <div id="loginPanel" ng-show="status.loginPanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active">
                <a href="javascript:void 0" data-target="#login" aria-controls="login" role="tab" data-toggle="tab"
                   >登录</a>
            </li>
            <li role="presentation">
                <a href="javascript:void 0" data-target="#register" aria-controls="register" role="tab" data-toggle="tab">注册</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="login">
                <div class="pad">
                    <form class="pad" name="form" ng-submit = "loginSubmit()" novalidate>
                        <p>
                            <label for="loginNOInput">账号</label>&nbsp;
                            <input id="loginNOInput" type="text" class="form-control" placeholder=""
                                   aria-describedby="basic-addon2" ng-pattern="/^[A-Za-z0-9_]{6,20}$/"
                                   ng-model="rootdata.login.id" name="id" required>
                            <span ng-if="form.id.$error.required || form.id.$error.pattern"
                                     class="error">
                                6-20位，可含字母、数字及下划线
                            </span>
                        </p>
                        <p>
                            <label for="loginPWDInput">密码</label>&nbsp;
                            <input id="loginPWDInput" type="password" class="form-control" placeholder=""
                                   aria-describedby="basic-addon2" ng-pattern="/^[A-Za-z0-9_]{6,20}$/"
                                   ng-model="rootdata.login.pwd" name="pwd" required>
                            <span ng-if="form.pwd.$error.required || form.pwd.$error.pattern"
                                     class="error">
                                6-20位，可含字母、数字及下划线
                            </span>
                        </p>
                        <br>
                        <div class="btn-group loginBtn" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" ng-click="status.loginPanel=false">关闭</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">登录</button>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="register">
                <div class="pad">
                    <form class="pad" ng-submit="registerSubmit()">
                        <p>
                            <label for="registerNOInput">账号</label>&nbsp;
                            <input id="registerNOInput" type="text" class="form-control" placeholder=""
                                   aria-describedby="basic-addon2" ng-model="rootdata.register.id">
                        </p>
                        <p>
                            <label for="registerNameInput">昵称</label>&nbsp;
                            <input id="registerNameInput" type="text" class="form-control" placeholder=""
                                   aria-describedby="basic-addon2" ng-model="rootdata.register.name">
                        </p>
                        <p>
                            <label for="registerPWDInput">密码</label>&nbsp;
                            <input id="registerPWDInput" type="password" class="form-control" placeholder=""
                                   aria-describedby="basic-addon2" ng-model="rootdata.register.pwd">
                        </p>
                        <br>
                        <div class="btn-group loginBtn" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" ng-click="loginPanel=false">关闭</button>
                            <button type="submit" class="btn btn-primary">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- login and register ends-->

    <script src="js/modules/request-compiled.js"></script>
    <script src="js/controllers/base-compiled.js"></script>
</body>
</html>